In [1]:
import pandas as pd
import numpy as np
import glob
import os
import bz2
import codecs
import json
import matplotlib.pylab as plt
import uuid
%matplotlib inline

In [2]:
%%time
infilename = 'yellow_tripdata_2015-03.csv'
raw_df = pd.read_csv(infilename)

CPU times: user 49.5 s, sys: 4.83 s, total: 54.3 s
Wall time: 54.6 s

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13351609 entries, 0 to 13351608
Data columns (total 19 columns):
VendorID                 int64
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID               int64
store_and_fwd_flag       object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type             int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.9+ GB

In [4]:
def clean_data(df):
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'].values).tz_localize('Etc/GMT+5')
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'].values).tz_localize('Etc/GMT+5')
    return df

In [82]:
# df = raw_df.head(1).copy()
df = raw_df.copy()

In [83]:
%%time
df = clean_data(df)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-03-06 08:02:31-05:00,2015-03-06 08:09:55-05:00,1,1.2,-73.990211,40.750969,1,N,-73.987892,40.738037,2,7.0,0.0,0.5,0.00,0.0,0.3,7.80
1,1,2015-03-06 08:02:31-05:00,2015-03-06 08:15:23-05:00,1,3.2,-73.935188,40.800720,1,N,-73.952553,40.765373,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30
2,1,2015-03-06 08:02:31-05:00,2015-03-06 08:12:27-05:00,1,1.1,-73.963753,40.767937,1,N,-73.956947,40.780270,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
3,1,2015-03-06 08:02:31-05:00,2015-03-06 08:09:09-05:00,1,0.8,-73.997177,40.742168,1,N,-74.008064,40.739281,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
4,1,2015-03-06 08:02:32-05:00,2015-03-06 08:19:37-05:00,1,2.7,-74.006844,40.730267,1,N,-73.976860,40.750671,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55

In [84]:
df = df[df.tpep_dropoff_datetime < pd.to_datetime('2015-03-04 00:00:00-05:00', utc=True)]
len(df)

1168099

In [85]:
def create_events(trip_record):
    events = []
    trip_id = str(uuid.uuid4())
    events.append({
        'event_type': 'pickup',
        'timestamp': trip_record.tpep_pickup_datetime,
        'trip_fraction': 0.0,
        'trip_id': trip_id,
        'location': {
            'lat': trip_record.pickup_latitude,
            'lon': trip_record.pickup_longitude,
        },
        'passenger_count': trip_record.passenger_count,
    })
    
    # Create route events every 1 minute.
    # Assume that route is a straight line from pickup to dropoff.
    trip_duration = trip_record.tpep_dropoff_datetime - trip_record.tpep_pickup_datetime
    report_period = pd.Timedelta(1, 'm')
    report_timestamp = trip_record.tpep_pickup_datetime
    while True:
        report_timestamp += report_period
        if report_timestamp >= trip_record.tpep_dropoff_datetime:
            break
        trip_fraction = (report_timestamp - trip_record.tpep_pickup_datetime) / trip_duration
        events.append({
            'event_type': 'route',
            'timestamp': report_timestamp,
            'trip_fraction': trip_fraction,
            'trip_id': trip_id,
            'location': {
                'lat': trip_record.pickup_latitude + (trip_record.dropoff_latitude - trip_record.pickup_latitude) * trip_fraction,
                'lon': trip_record.pickup_longitude + (trip_record.dropoff_longitude - trip_record.pickup_longitude) * trip_fraction,
            },
            'passenger_count': trip_record.passenger_count,
        })

    events.append({
        'event_type': 'dropoff',
        'timestamp': trip_record.tpep_dropoff_datetime,
        'trip_fraction': 1.0,
        'trip_id': trip_id,
        'location': {
            'lat': trip_record.dropoff_latitude,
            'lon': trip_record.dropoff_longitude,
        },
        'passenger_count': trip_record.passenger_count,
        'trip_distance': trip_record.trip_distance,
        'trip_duration_minutes': trip_duration / pd.Timedelta(1, 'm'),
        'total_amount': trip_record.total_amount,
    })
    return events

In [86]:
create_events(df.iloc[0])

[{'event_type': 'pickup',
  'location': {'lat': 40.774150848388672, 'lon': -73.872817993164062},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:17:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.0,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.77324652370018, 'lon': -73.871542693190435},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:18:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.016877637130801686,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.772342199011696, 'lon': -73.870267393216807},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:19:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.03375527426160337,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.771437874323205, 'lon': -73.868992093243179},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:20:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.05063291139240506,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.770533549634713, 'lon': -73.867716793269551},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:21:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.06751054852320675,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.769629224946229, 'lon': -73.866441493295923},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:22:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.08438818565400844,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.768724900257737, 'lon': -73.865166193322295},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:23:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.10126582278481013,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.767820575569246, 'lon': -73.863890893348668},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:24:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.11814345991561181,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.766916250880762, 'lon': -73.86261559337504},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:25:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.1350210970464135,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.76601192619227, 'lon': -73.861340293401398},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:26:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.1518987341772152,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.765107601503779, 'lon': -73.86006499342777},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:27:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.16877637130801687,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.764203276815294, 'lon': -73.858789693454142},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:28:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.18565400843881857,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.763298952126803, 'lon': -73.857514393480514},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:29:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.20253164556962025,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.762394627438312, 'lon': -73.856239093506886},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:30:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.21940928270042195,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.761490302749827, 'lon': -73.854963793533258},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:31:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.23628691983122363,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.760585978061336, 'lon': -73.853688493559631},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:32:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.25316455696202533,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.759681653372844, 'lon': -73.852413193586003},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:33:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.270042194092827,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.75877732868436, 'lon': -73.851137893612375},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:34:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.2869198312236287,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.757873003995869, 'lon': -73.849862593638747},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:35:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.3037974683544304,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.756968679307377, 'lon': -73.848587293665119},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:36:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.3206751054852321,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.756064354618893, 'lon': -73.847311993691491},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:37:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.33755274261603374,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.755160029930401, 'lon': -73.846036693717863},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:38:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.35443037974683544,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.75425570524191, 'lon': -73.844761393744236},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:39:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.37130801687763715,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.753351380553426, 'lon': -73.843486093770608},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:40:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.3881856540084388,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.752447055864934, 'lon': -73.84221079379698},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:41:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.4050632911392405,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.751542731176443, 'lon': -73.840935493823352},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:42:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.4219409282700422,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.750638406487958, 'lon': -73.83966019384971},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:43:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.4388185654008439,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.749734081799467, 'lon': -73.838384893876082},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:44:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.45569620253164556,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.748829757110975, 'lon': -73.837109593902454},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:45:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.47257383966244726,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.747925432422491, 'lon': -73.835834293928826},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:46:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.48945147679324896,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.747021107734, 'lon': -73.834558993955199},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:47:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.5063291139240507,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.746116783045508, 'lon': -73.833283693981571},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:48:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.5232067510548524,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.745212458357024, 'lon': -73.832008394007943},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:49:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.540084388185654,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.744308133668532, 'lon': -73.830733094034315},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:50:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.5569620253164557,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.743403808980041, 'lon': -73.829457794060687},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:51:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.5738396624472574,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.742499484291557, 'lon': -73.828182494087059},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:52:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.5907172995780591,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.741595159603065, 'lon': -73.826907194113431},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:53:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6075949367088608,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.740690834914574, 'lon': -73.825631894139804},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:54:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6244725738396625,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.739786510226089, 'lon': -73.824356594166176},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:55:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6413502109704642,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.738882185537598, 'lon': -73.823081294192548},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:56:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6582278481012658,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.737977860849114, 'lon': -73.82180599421892},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:57:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6751054852320675,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.737073536160622, 'lon': -73.820530694245292},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:58:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.6919831223628692,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.736169211472131, 'lon': -73.819255394271664},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 18:59:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.7088607594936709,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.735264886783646, 'lon': -73.817980094298022},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:00:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.7257383966244726,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.734360562095155, 'lon': -73.816704794324394},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:01:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.7426160337552743,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.733456237406664, 'lon': -73.815429494350767},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:02:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.759493670886076,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.732551912718179, 'lon': -73.814154194377139},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:03:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.7763713080168776,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.731647588029688, 'lon': -73.812878894403511},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:04:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.7932489451476793,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.730743263341196, 'lon': -73.811603594429883},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:05:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.810126582278481,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.729838938652712, 'lon': -73.810328294456255},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:06:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.8270042194092827,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.728934613964221, 'lon': -73.809052994482627},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:07:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.8438818565400844,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.728030289275729, 'lon': -73.807777694508999},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:08:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.8607594936708861,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.727125964587245, 'lon': -73.806502394535372},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:09:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.8776371308016878,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.726221639898753, 'lon': -73.805227094561744},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:10:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.8945147679324894,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.725317315210262, 'lon': -73.803951794588116},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:11:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9113924050632911,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.724412990521778, 'lon': -73.802676494614488},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:12:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9282700421940928,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.723508665833286, 'lon': -73.80140119464086},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:13:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9451476793248945,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.722604341144795, 'lon': -73.800125894667232},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:14:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9620253164556962,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.72170001645631, 'lon': -73.798850594693604},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:15:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9789029535864979,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'route',
  'location': {'lat': 40.720795691767819, 'lon': -73.797575294719977},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:16:50-0500', tz='Etc/GMT+5'),
  'trip_fraction': 0.9957805907172996,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'},
 {'event_type': 'dropoff',
  'location': {'lat': 40.720569610595696, 'lon': -73.797256469726562},
  'passenger_count': 1,
  'timestamp': Timestamp('2015-03-03 19:17:05-0500', tz='Etc/GMT+5'),
  'total_amount': 44.159999999999997,
  'trip_distance': 7.2400000000000002,
  'trip_duration_minutes': 59.25,
  'trip_fraction': 1.0,
  'trip_id': '3c3b4b72-5436-47a5-9792-371a10dabcfc'}]

In [87]:
def flatten_list(li):
    result = []
    for item in li:
        result.extend(item)
    return result

In [88]:
%%time
all_events = flatten_list([create_events(r) for _, r in df.iterrows()])

CPU times: user 1h 57min 10s, sys: 1min 18s, total: 1h 58min 29s
Wall time: 1h 58min 4s

In [92]:
len(all_events)

18916770

In [93]:
%%time
all_events_df = pd.DataFrame(all_events).sort_values(['timestamp'])
all_events_df.head(10)

CPU times: user 2min 30s, sys: 17.9 s, total: 2min 48s
Wall time: 2min 48s

In [94]:
all_events_df.to_json('data.ndjson', orient='records', lines=True)

MemoryError:

# Playground

In [41]:
all_events_df.index.to_period(freq='d').start_time

DatetimeIndex(['2015-05-05', '2015-05-05', '2015-05-05', '2015-05-05',
               '2015-05-05', '2015-05-05', '2015-05-05', '2015-05-05',
               '2015-05-05', '2015-05-05', '2015-05-05', '2015-05-05',
               '2015-05-05', '2015-05-05', '2015-05-05', '2015-05-05',
               '2015-05-05', '2015-05-05', '2015-05-05', '2015-05-06'],
              dtype='datetime64[ns]', name='timestamp', freq=None)

In [50]:
begin_playback_period = pd.Period('2015-05-06', 'D')
begin_playback_period

Period('2015-05-06', 'D')

In [54]:
begin_playback_original_timestamp = begin_playback_period.start_time.tz_localize('US/Eastern')
begin_playback_original_timestamp

Timestamp('2015-05-06 00:00:00-0400', tz='US/Eastern')

In [65]:
realtime_timestamp = pd.Timestamp.now('US/Eastern')
realtime_timestamp

Timestamp('2018-02-27 19:40:38.762375-0500', tz='US/Eastern')

In [68]:
realtime_period = pd.Period(realtime_timestamp, freq='D')
realtime_period

Period('2018-02-27', 'D')

In [69]:
delta_periods = realtime_period - begin_playback_period
delta_periods

1028

In [70]:
realtime_timestamp - (realtime_period - begin_playback_period) * realtime_period.freq.delta

Timestamp('2015-05-06 20:40:38.762375-0400', tz='US/Eastern')

In [86]:
t = pd.to_datetime(1430883460000, unit='ms', utc=True).tz_convert('US/Pacific')
str(t)

'2015-05-05 20:37:40-07:00'

In [80]:
pd.Timestamp.now('UTC')

Timestamp('2018-02-28 01:16:44.285336+0000', tz='UTC')

In [83]:
(realtime_period - begin_playback_period) * realtime_period.freq.delta / pd.Timedelta(1, 'ms')

88819200000.0

In [28]:
t = pd.Timestamp.now('UTC')
t

Timestamp('2018-02-28 05:40:28.684808+0000', tz='UTC')

In [30]:
t.value / 1e6

1519796428684.8079

In [3]:
pd.Timestamp('2015-03-06 08:02:31').value / 1e6

1425628951000.0